<h4>Выбери экселевский файл</h4>
<form class="form" action="/upload" method="POST" enctype="multipart/form-data">
  <div class="form-group">
    <input type="file" name="myfile"/>
  </div>
  <div class="form-group">
    <input type="submit" value="Залить"/>
  </div>
</form>
